// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here

  /* White background for the entire UI */
  .v-ui {
    background: white;
  }

  // All textareas mono spaced
  textarea.v-textarea {
    font-family: monospace;
  }

  .startHeader {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    color: grey;
    .backButton {
      font-size: 0.3em;
    }

  }
  .introText {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 100;
    width: 20%;
  }
  .href {
    color: #03a9f4;
    text-decoration: none;
  }
  .href:hover {
    color: blue;
  }
  .banner {
    font-size: 1.06667rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: #2d3033;
    height: auto;
    width: 100%;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
  }
  .bannerLabel:hover {
    color: white;
  }

  .content {
    top: 500px;
    height: 100%;
  }

  .tabSheet {
    background-color: white;
    width: 100%;
  }

  .geneticTab {
    background-color: lightgrey;
    width: auto;
  }

  .grid {
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;

  }
  .tab {
    background-color: #00b4f0;
    width: 100%;
  }
  .samplelabel {
    table, tr, td {
      tr:nth-child(even) {
        background: lightblue
      }
      tr:nth-child(odd) {
        background: lightgrey
      }
      td {
        padding-right: 30px
      }
      border-collapse: collapse;
    }
  }

  .bannerLabel {
    font-weight: 300;
    //line-height: 1.25;
    //margin-bottom: 1.5rem;
    //color: #2d3033;
    height: 100px;
    color: #00b4f0;
    text-decoration: none;
    outline: 0;
    transition: 50ms;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: .2em;
    padding-top: .3rem;
    font-size: 1.2rem;
    letter-spacing: .05em;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
  }
  .match {
    font-size: 10px;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }
  .showQueryButton {
    font-size: 0.7rem;
  }
  .link a img {
    width: 250px;
    height: 250px;
  }
}
